<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a description of the user registration with python Flask and SQLite">
    <meta name="keywords" content="registration, Python,Flask ">
    <title>User Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav>
    <a href="{{ url_for('home') }}">Home</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('register') }}">Register</a>
    {% else %}
   <a href="{{ url_for('login') }}">Login</a>
    <p>Welcome {{current_user.username}}</p>
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
      </nav>
  </body>
</html>
